<html>

<head>
    <link rel="stylesheet" type="text/css" href="assets/index.css">
</head>

<body>

    <div id="flex-container">

        <div>
            <h1 id="title"> Welcome To Sessions </h1>
            <a href="/create"> <button type="button"> Create </button> </a>
            <br>
            <a href="/join"> <button type="button"> Join </button> </a>
        </div>

    </div>

    <footer>
        created by: Nick and Nico
    </footer>

</body>

</html>
